root = true

[*.{kt,kts}]
max_line_length = 200
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^
ktlint_standard_enum-entry-name-case = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_no-semi = disabled
