<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475090238010-0t8h7d17lrkdtickfq54sl4do56ev2op.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475090238010-0t8h7d17lrkdtickfq54sl4do56ev2op</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>475090238010-t707idf2qol6bapn4borpat7vvlhmut4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ4R4OSWOoQ_IdHnd5EA3-ZY8SCNwhWDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>475090238010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.tv5.video.debug</string>
	<key>PROJECT_ID</key>
	<string>tv5-unis-ci</string>
	<key>STORAGE_BUCKET</key>
	<string>tv5-unis-ci.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475090238010:ios:b097ad8b2aa4c3c6</string>
	<key>DATABASE_URL</key>
	<string>https://tv5-unis-ci.firebaseio.com</string>
</dict>
</plist>